<div class="container">
  <h1>{{ quiz.title }}</h1>
  <p class="lead">{{ quiz.description }}</p>
  <div class="d-flex">
    <span
      *ngFor="let tag of quiz.tags"
      class="badge badge-pill badge-primary mr-1"
      >{{ tag }}</span
    >
  </div>

  <form
    [formGroup]="quizForm"
    class="mt-5"
    [class.answers-shown]="answersShown"
  >
    <div formArrayName="answers">
      <div
        *ngFor="let question of quiz.questions; index as i"
        class="card my-4"
      >
        <div class="question-number bg-primary text-light">{{ i + 1 }}</div>
        <div class="card-body">
          <h2 class="card-title">{{ question.prompt }}</h2>
          <div [ngSwitch]="question.type" class="form-group">
            <ul *ngSwitchCase="'mc'" class="list-group list-group-flush">
              <li
                *ngFor="let choice of question.answerChoices; index as j"
                class="list-group-item"
              >
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="mc-{{ i }}-{{ j }}"
                    [formControlName]="i"
                    [value]="choice"
                    class="custom-control-input"
                    [attr.disabled]="answersShown ? 'disabled' : null"
                  />
                  <label
                    class="custom-control-label w-100"
                    for="mc-{{ i }}-{{ j }}"
                    >{{ choice }}</label
                  >
                </div>
              </li>
            </ul>
            <input
              *ngSwitchCase="'txt'"
              type="text"
              class="form-control"
              [formControlName]="i"
              placeholder="Answer"
              [attr.disabled]="answersShown ? 'disabled' : null"
            />
            <input
              *ngSwitchCase="'num'"
              type="number"
              class="form-control"
              [formControlName]="i"
              placeholder="Answer"
              [attr.disabled]="answersShown ? 'disabled' : null"
            />
            <input
              *ngSwitchCase="'date'"
              type="date"
              class="form-control"
              [formControlName]="i"
              placeholder="Answer"
              [attr.disabled]="answersShown ? 'disabled' : null"
            />
            <small
              *ngIf="answerControls[i].hasError('incorrectAnswer')"
              id="correctAnswer{{ i }}"
              class="form-text text-danger"
              >Correct answer:
              {{ answerControls[i].getError('incorrectAnswer') }}</small
            >
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!answersShown; else resultsContainer" class="text-right mb-5">
      <button class="btn btn-primary" (click)="showResults()">
        See My Results!
      </button>
    </div>
    <ng-template #resultsContainer>
      <div class="card mb-5">
        <div class="card-body">
          <h3 class="mb-3">
            You scored {{ pointScore }}/{{ quiz.questions.length }} ({{
              percentageScore | percent
            }})!
          </h3>
          <button *ngIf="share.canShare()" class="btn btn-outline-primary" (click)="shareResults()">
            Share results!
          </button>
        </div>
      </div>
    </ng-template>
  </form>
</div>
