<div class="container">
  <h2>{{ quiz.title }}</h2>
  <p class="lead">{{ quiz.description }}</p>
  <div class="d-flex">
    <span
      *ngFor="let tag of quiz.tags"
      class="badge badge-pill badge-primary mr-1"
      >{{ tag }}</span
    >
  </div>

  <form [formGroup]="quizForm" class="mt-5">
    <div formArrayName="answers">
      <div
        *ngFor="let question of quiz.questions; index as i"
        class="card my-4"
      >
        <div class="question-number bg-primary text-light">{{ i + 1 }}</div>
        <div class="card-body">
          <h2 class="card-title">{{ question.prompt }}</h2>
          <ng-container [ngSwitch]="question.type">
            <ul *ngSwitchCase="'mc'" class="list-group list-group-flush">
              <li
                *ngFor="let choice of question.answerChoices; index as j"
                class="list-group-item"
              >
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="mc-{{ i }}-{{ j }}"
                    [formControlName]="i"
                    [value]="choice"
                    class="custom-control-input"
                  />
                  <label
                    class="custom-control-label w-100"
                    for="mc-{{ i }}-{{ j }}"
                    >{{ choice }}</label
                  >
                </div>
              </li>
            </ul>
            <div *ngSwitchCase="'txt'" class="form-group">
              <input
                type="text"
                class="form-control"
                [formControlName]="i"
                placeholder="Answer"
              />
            </div>
            <div *ngSwitchCase="'num'" class="form-group">
              <input
                type="number"
                class="form-control"
                [formControlName]="i"
                placeholder="Answer"
              />
            </div>
            <div *ngSwitchCase="'date'" class="form-group">
              <input
                type="date"
                class="form-control"
                [formControlName]="i"
                placeholder="Answer"
              />
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="text-right mb-5">
      <button class="btn btn-primary" (click)="showResults()">
        See My Results!
      </button>
    </div>
  </form>
</div>
