@import '../../../theme';
@import '~bootstrap/scss/bootstrap';

.container {
  max-width: 750px;
}

.question-number {
  width: 36px;
  height: 36px;
  top: -18px;
  left: -10px;
  position: absolute;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.answers-shown .ng-valid {
  @extend .is-valid;
}
.answers-shown .ng-invalid {
  @extend .is-invalid;
}
